#animatedBanner {
  width: 1000px;
  height: 500px;
  background: #000 url(img/clouds-mf.jpg);
  margin: 10vh auto 0;
  overflow: hidden;
}
#topDoor {
  position: absolute;
  width: 1000px;
  height: 250px;
  background: url(img/metal.jpg) no-repeat center bottom;
  animation: topOpen 1s ease 1s 1 forwards;
}
#bottomDoor {
  position: absolute;
  width: 1000px;
  height: 250px;
  background: url(img/metal.jpg) no-repeat center top;
  margin-top: 250px;
  animation: bottomOpen 1s ease 1s 1 forwards;
}
#plane {
  position: absolute;
  opacity: 0;
  height: 50px;
  margin: 250px 0px 0px 600px;
  animation: flyIn 3s ease 2s 1 forwards;
}
#text {
  position: absolute;
  opacity: 0;
  margin: 500px 0 0 700px;
  animation: moveUp 1s ease 3s 1 forwards;
  color: #022576;
}

@keyframes topOpen {
  0% {
    height: 250px;
  }
  100% {
    height: 0;
  }
}

@keyframes bottomOpen {
  0% {
    height: 250px;
    margin-top: 250px;
  }
  100% {
    height: 0px;
    margin-top: 500px;
  }
}
@keyframes flyIn {
  0% {
    opacity: 1;
    height: 110px;
    margin: 50px 0px 0px 100px;
  }
  100% {
    opacity: 1;
    height: 220px;
    margin: 250px 0px 0px 600px;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    margin-top: 500px;
    margin-left: 200px;
  }
  100% {
    opacity: 1;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 122px;
  }
}
