#animatedBanner {
  width: 1000px;
  height: 500px;
  background: #000 url(img/clouds-mf.jpg);
  margin: 10vh auto 0;
}
#topDoor {
  position: absolute;
  width: 1000px;
  height: 250px;
  background: url(img/metal.jpg) no-repeat center bottom;
  animation: topOpen 1s ease 1s 1 forwards;
}
#bottomDoor {
  position: absolute;
  width: 1000px;
  height: 250px;
  background: url(img/metal.jpg) no-repeat center top;
  margin-top: 250px;
  animation: bottomOpen 1s ease 1s 1 forwards;
}
#ironMan {
  position: absolute;
  opacity: 0;
  height: 50px;
  margin: 250px 0px 0px 600px;
  animation: flyIn 1s ease 1s 1 forwards;
}
#text {
  position: absolute;
  opacity: 0;
  margin: 250px 0 0 700px;
  animation: moveUp 1s ease 1s 1 forwards;
}

@keyframes topOpen {
  0% {
    height: 250px;
  }
  100% {
    height: 0;
  }
}
